 .body {
     background-image: url(images/vintage-globe-bed-various-currencies_10307-8386.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: top;
     height: 100vh;
 }

 .main {
     margin-top: 200px;
     width: 700px;
     height: 150px;
     justify-self: anchor-center;
     text-align: -webkit-center;
     background-color: rgb(243, 238, 238);
     border: 1px solid rgb(152, 151, 151);
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     box-shadow: 2px 3px 1px 2px rgb(87, 87, 87);
 }

 #amount {
     margin-right: 10px;
 }

 #result {
     margin-left: 10px;
 }

 #run {
     background-color: rgb(170, 170, 185);
     margin-left: 10px;
 }